 <div class="navbar nav-default">
     <div class="container-fluid">
         <div class="navbar-header">
             <a href="#" class="navbar-brand">Recipe book</a>
         </div>
         <div class="navbar">
             <ul class="nav navbar-nav">
                  <!-- <li><a (click)="OnSelect('recipe')">Recipe section</a></li>
                 <li><a (click)="OnSelect('shopping')">Shopping list</a></li>  -->
                 <li class="nav-item"><a routerLink = '/recipe' routerLinkActive="active">Recipe section</a></li>
                 <li class="nav-item"><a routerLink = '/shoppingList' routerLinkActive="active">Shopping list</a></li> 
             </ul>
             
         </div>
       
     </div>
 </div>

