<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="{{selectedRecipe.imagePath}}" style="width: 50px;">
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <h4>{{selectedRecipe.name}}</h4>
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShopping()" style="cursor: pointer;">Add ingredient</a></li>
                <li><a [routerLink]="['edit']">Edit ingredient</a></li>
                <li><a style="cursor: pointer;" (click)='DeleteRecipe()'>Delete ingredient</a></li>
            </ul>
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-md-12">
        <p>{{selectedRecipe.description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class ="list-group-item" *ngFor="let ing of selectedRecipe.Ingredints">
                {{ing.name}} - {{ing.amount}}
            </li>
        </ul>
    </div>
</div>